<!--ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>
    <ion-footer-bar class="bar-dark">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-navigate">Find Me</a>
    </ion-footer-bar>
  </ion-content>
</ion-view-->
<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>


<ion-view view-title="Map">
    
      <ion-content>
      <div id="map" data-tap-disabled="true"></div>
    </ion-content>

    <ion-footer-bar class="bar-royal">
      <a ng-click="centerOnMe()" class="button button-icon icon ion-alert"> Warn 'em!</a>
    </ion-footer-bar>
</ion-view>